body {
    background-image: url("res/background.jpg");
    background-size: auto;
}

.header {
    padding: 30px;
    background: #0e99cc;
    color: white;
    font-size: 25px;
    text-align: center;
}
